:root{
    --color-primary: #ffce00;
    --color-text: #555a66;
    --font-main: Roboto-bold;
    --font-text: Roboto-regular;
}

/* Main settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--color-text);
}

@font-face {
    font-family: Roboto-bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
}

/* End main settings */

/* Layout settings */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: var(--color-primary);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-main);
    padding: 10px;
}

nav ul li a:hover {
    color: var(--color-text);
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-text);
    width: 50%;
    list-style-type: none;
}

.list li {
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.btn-detail {
    background-color: #4285f4;
    color: white;
}

.btn-detail:hover {
    background-color: white;
    color: #4285f4;
}

.btn-edit {
    background-color: var(--color-primary);
    color: white;
}

.btn-edit:hover {
    background-color: white;
    color: var(--color-primary);
}

.btn-delete {
    background-color: #a10e2e;
    color: white;
}

.btn-delete:hover {
    background-color: white;
    color: #a10e2e ;
}

.search {
    margin: 20px;
    width: 50%;
}

.search-bar {
    padding: 5px;
    width: 80%;
}

.btn-buscar {
    background-color: var(--color-primary);
    color: white;
    padding: 5px;
    width: 19%;
    outline: 0px;
    border: 0px;
    box-shadow: none;
}

.btn-buscar:hover {
    background-color: white;
    color: var(--color-primary);
}

.btn-auxs {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.btn-auxs a {
    padding-right: 10px;
    text-decoration: none;
} 

.alert-success {
    background-color: #28a745;
    width: 100%;
    padding: 10px;
    color: white;
}

.span-tareas {
    float: right;
}




footer {
    text-align: center;
}

/* End Layout settings */

/* Index settings */

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    margin: 15px;
    padding: 10px;     
    background-color: var(--color-primary);
}

.card:hover {
    background-color: white;
    color: var(--color-primary);
    border: 1px solid var(--color-text);
}

.itemsapp {
    color: var(--color-text);
    text-decoration: none;
}

.itemsapp:hover {
    background-color: white;
    color: var(--color-primary);
}

/* End settings */